.video-set {
        .video-resolution-item {
            text-align: left;
            width: 100%;
            font-size: 12px;
            color: #fff;
            padding: 5px 0 5px 15px;
            box-sizing: border-box;
            border-radius: 5px;
            &:hover {
                background: #525252;
            }
        }
}

.video-resolution-toast {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}